bot1.py
bot2.py
bot3.py
bot4.py
bot5.py
bot6.py
bot7.py
bot8.py
bot9.py
bot10.py
bot11.py
db_from_texts_PP.faiss
db_from_texts_PP.pkl
.env
fragments.txt
test.py
BazaZnan.txt
fragm1.txt
fragments11.txt
vectorize1.py
vec.py
vec1.py
vec2.py
vec3.py
test1.ipynb